# =============================================================================
# Local Development
# =============================================================================
MONGODB_URI=mongodb://localhost:27017/swe5006
NEXTAUTH_SECRET=replace-with-strong-secret
NEXTAUTH_URL=http://localhost:3000
GITHUB_ID=
GITHUB_SECRET=
